{% extends "base.html" %}
{% load i18n %}

{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profil_ami.css' %}">
{% endblock %}

{% block content %}

<Body>
    <div class="profil-container">
        <h1>{% trans "Profil of " %} {{ ami.nom }}</h1>
    
        {% if ami.avatar %}
              <img src="{{ ami.avatar.url }}" alt="Avatar" style="width: 100px; height: 100px;">
        {% elif ami.photo_url %}
              <img src="{{ ami.photo_url }}" alt="Profile Picture">
        {% else %}
              <img src="{% static 'img/joueurs.png' %}" style="width: 100px; height: 100px;">
        {% endif %}
        
        <div class="stats">
            <p>{% trans "Victory :" %} {{ ami.wins }}</p>
            <p>{% trans "Defeat :"%} {{ ami.losses }}</p>
            <p>{% trans "Statut :"%} 
                {% if ami.is_online %}
                    {% if ami.is_playing %}{% trans "Stake" %} {% else %} {% trans "Online"%}{% endif %}
                {% else %}
                    {% trans "Offline" %}
                {% endif %}
            </p>
        </div>
    </div>
</Body>

{% endblock %}