{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{% static './css/accueil.css' %}">{% endblock %}
{% block content %}
<div class="container">
    <h1>{% trans "Welcome" %} {{ user.nom }}!</h1>
    {% if user.photo_url %}
        <img src="{{ user.photo_url }}" alt="{% trans 'Profile Picture' %}">
    {% endif %}
    <p>{% trans "Your email is:" %} {{ user.email }}</p>
    <p>{% trans "Your name is:" %} {{ user.nom }}</p>
    <p>{% trans "Your id is:" %} {{ user.id }}</p>
    <a href="{% url 'logout' %}" class="logout-button">{% trans "Logout" %}</a>
</div>
{% endblock %}