{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body>
	<header>
		<nav>
			<a href="{% url 'dashboard' %}" class="nav-item is-active">{% trans "Home"%}</a>
			<a href="{% url 'amis' %}" class="nav-item">{%trans "Friends"%}</a>
			<a href="{% url 'chat:conversations_list' %}" class="nav-item">{% trans "Message"%}</a>
			<a href="{% url 'logout' %}" class="nav-item">{% trans "Logout" %}</a>
		</nav>
    </header>
	<main>
		{% block content %}{% endblock %}
    	{% block javascripts %}{% endblock %}
	</main>
	<footer>
		<p> {% trans "Designed by"%} <a target="_blank" href="https://github.com/ouahdinaaaa">Ouahdina</a> & <a target="_blank" href="https://github.com/justforttest">Kamel</a> & <a target="_blank" href="https://github.com/CamilleBouziri">Bouziri</a>  & <a target="_blank" href="https://github.com/ouachani-il">ouachani-il</a></p>
	</footer>
</body>
</html>